#cardLogin {
    -fx-effect: dropshadow(gaussian, rgba(91,85,196,0.20), 16, 0.2, 0, 2);
    -fx-background-color: #1E1E1E;
    -fx-background-radius: 35;
}

#titulo {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

#subTitle {
    -fx-background-color: rgba(136, 182, 189, 0.4);
    -fx-text-fill: #CCCCFF;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-padding: 8 18;
    -fx-background-radius: 999;
    -fx-border-radius: 999;
    -fx-alignment: CENTER_LEFT;
    -fx-effect: dropshadow(gaussian, rgba(91,85,196,0.30), 16, 0.2, 0, 2);
}

#darkLight {
    -fx-background-color: #555555;
    -fx-background-radius: 999;
    -fx-border-radius: 999;
    -fx-padding: 8 18;
}

#darkLight::hover {
    -fx-background-color: #777777;
}

#btnCrear {
    -fx-background-color: linear-gradient(from 16.2879% 0.0% to 100.0% 100.0%, #B74CEB 0%, #FF80FC 100%);
    -fx-border-radius: 999;
    -fx-background-radius: 999;
}

#inicioSesion {
    -fx-background-color: #333333;
    -fx-border-radius: 999;
    -fx-background-radius: 999;
}

#lupa {
    -fx-background-color: linear-gradient(to bottom right, #B74CEB 0%, #FF80FC 100%);
    -fx-padding: 12 22;
    -fx-effect: dropshadow(gaussian, rgba(91,85,196,0.25), 16, 0.2, 0, 2);
    -fx-background-radius: 10;
}

#popular {
    -fx-background-color: #FF80FC;
    -fx-padding: 2 6;
    -fx-effect: dropshadow(gaussian, rgba(91,85,196,0.25), 16, 0.2, 0, 2);
    -fx-background-radius: 10;
}
