AnchorPane {
    -fx-background-color: #1f1f1f;
}

#cardLogin {
    -fx-background-color: #1E1E1E;
    -fx-background-radius: 35;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 16, 0.2, 0, 2);
}

#titulo {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(to bottom right, #982cb7, #ff49fc);
}

#subTitle {
    -fx-background-color: rgba(60,60,60,0.5);
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-padding: 8 18;
    -fx-background-radius: 999;
    -fx-border-radius: 999;
    -fx-alignment: CENTER_LEFT;
    -fx-effect: dropshadow(gaussian, rgba(91,85,196,0.3), 16, 0.2, 0, 2);
}

#darkLight {
    -fx-background-color: #555555;
    -fx-background-radius: 999;
    -fx-border-radius: 999;
    -fx-padding: 8 18;
    -fx-text-fill: #FFFFFF;
}

#darkLight::hover {
    -fx-background-color: #777777;
}

#btnCrear {
    -fx-background-color: linear-gradient(to bottom right, #B74CEB, #FF80FC);
    -fx-background-radius: 999;
    -fx-border-radius: 999;
    -fx-text-fill: #FFFFFF;
}

#inicioSesion {
    -fx-background-color: #333333;
    -fx-background-radius: 999;
    -fx-border-radius: 999;
    -fx-text-fill: #FFFFFF;
}

#lupa {
    -fx-background-color: linear-gradient(to bottom right, #B74CEB, #FF80FC);
    -fx-padding: 12 22;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 16, 0.2, 0, 2);
    -fx-text-fill: #FFFFFF;
}

#popular {
    -fx-background-color: #FF80FC;
    -fx-padding: 2 6;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 16, 0.2, 0, 2);
    -fx-background-radius: 10;
    -fx-text-fill: #FFFFFF;
}
#labelBusquedaPeliculas, {
    -fx-fill: #000000;
}

#letrasEspeciales, text{
    -fx-fill: #000000;
}

.input .viewport {
    -fx-background-color: #2A2A2A;
    -fx-text-fill: #FFFFFF;
}

#textOut{
    -fx-fill:#FFFFFF;
}

#explorar {
    -fx-fill:#535353;
}