#titulo {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(to bottom right, #982cb7, #ff49fc);
}

#subTitle {
    -fx-background-color: #88B6BD80;
    -fx-text-fill: #5b55c4;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-padding: 8 18;
    -fx-background-radius: 999;
    -fx-border-radius: 999;
    -fx-alignment: CENTER_LEFT;
    -fx-effect: dropshadow(gaussian, rgba(91,85,196,0.20), 16, 0.2, 0, 2);
}

#cardLogin {
    -fx-effect: dropshadow(gaussian, rgba(91,85,196,0.20), 16, 0.2, 0, 2);
    -fx-background-color: white;
    -fx-background-radius: 35;
}

#darkLight {
    -fx-background-color: #A3A3A3;
    -fx-background-radius: 999;
    -fx-border-radius: 999;
    -fx-padding: 8 18;
}

#darkLight::hover{
    -fx-background-color: #CCCCCC;
}

#letrasEspeciales{
    -fx-font-family: "Segoe UI";
}

#btnCrear{
    -fx-background-color: linear-gradient(from 16.2879% 0.0% to 100.0% 100.0%, #982cb7 0.0%, #ff49fc 100.0%);
    -fx-border-radius: 999;
    -fx-background-radius: 999;
}

#inicioSesion{
    -fx-background-color: #E6E6E6;
    -fx-border-radius: 999;
    -fx-background-radius: 999;
}

#lupa{
    -fx-background-color: linear-gradient(to bottom right, #982cb7 0%, #ff49fc 100%);
    -fx-padding: 12 22;
    -fx-effect: dropshadow(gaussian, rgba(91,85,196,0.20), 16, 0.2, 0, 2);
    -fx-background-radius: 10;
}

#popular{
    -fx-background-color: #ff49fc;
    -fx-padding: 2 6;
    -fx-effect: dropshadow(gaussian, rgba(91,85,196,0.20), 16, 0.2, 0, 2);
    -fx-background-radius: 10;
}

/* ----------------------------------------------------------------------- */

#labelBusquedaPeliculas {
    -fx-border-color: linear-gradient(to bottom right, #982cb7, #ff49fc);
    -fx-border-width: 2;
    -fx-border-radius: 10;

    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-background-radius: 10;

    -fx-padding: 6 12;

    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#labelBusquedaPeliculas:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 255, 0.4), 12, 0.2, 0, 0);
    -fx-cursor: text;
}

#btnFiltros {
    -fx-background-color: linear-gradient(to bottom right, #982cb7, #ff49fc);
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-border-radius: 12;
    -fx-border-color: rgba(255,255,255,0.25);
    -fx-border-width: 1;
}

#btnFiltros:hover {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to bottom right, #b845d5, #ff6aff);
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 255, 0.4), 10, 0.2, 0, 0);
}

#btnFiltros:focused {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to bottom right, #7c2c99, #e13fe0);
    -fx-border-color: white;
}

.btnSearchPelicula {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #a34fb0, #7b2cc9);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 4,0,0,2);
}

.btnSearchPelicula:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #e988f7, #c155d0);
}

.input .viewport {
    -fx-background-color: #F0F0F0;
}

#explorar {
    -fx-fill:#535353;
}
